@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
.video {
  width: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 6px);
  background-color: rgba(0, 0, 0, 0.5);
}
