.scissors {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  transform: rotate(-50deg);
}

.scissors-2 {
  top: -25%;
  left: 5%;
  color: #999;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}