<header
  class="bg-white d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-3 border-bottom"
>
  <a
    [routerLink]="['/']"
    class="d-inline-flex align-items-center gap-2 link-body-emphasis text-decoration-none"
  >
    <img height="38" src="/assets/logo.png" alt="logo" aria-hidden="true" />
    <span class="fs-4">Peluquerías Grupo 5</span>
  </a>
  <ul class="nav justify-content-center">
    <li>
      <a
        [routerLink]="['/']"
        [routerLinkActive]="['link-secondary']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link px-2"
      >
        Inicio
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/servicios']"
        [routerLinkActive]="['link-secondary']"
        class="nav-link px-2"
      >
        Servicios
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/tiendas']"
        [routerLinkActive]="['link-secondary']"
        class="nav-link px-2"
      >
        Tiendas
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/contacto']"
        [routerLinkActive]="['link-secondary']"
        class="nav-link px-2"
      >
        Contáctanos
      </a>
    </li>
  </ul>
</header>
