<div class="d-flex flex-column h-100">
  <div class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Empleados</h1>
        <p class="lead text-body-secondary">
          Conoce a los empleados de Peluquerías Grupo 5. Nuestro equipo de
          profesionales está a tu disposición para ofrecerte el mejor servicio.
        </p>
      </div>
    </div>
  </div>
  <div class="album py-5 bg-body-tertiary flex-grow-1">
    <div class="container g-3">
      <div class="row">
        <!-- <app-tarjeta
          *ngFor="let empleado of empleados"
          [id]="empleado.id"
          [imagen]="empleado.imagen"
          ruta="/detalles-empleado"
          [titulo]="empleado.nombre"
        /> -->
      </div>
    </div>
  </div>
</div>
