<div class="d-flex flex-column h-100 py-5">
  <div class="pt-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Consulta tus citas</h1>
        <p class="lead text-body-secondary">
          Consulta tus citas agendadas en nuestras peluquerías.
        </p>
      </div>
    </div>
  </div>
  <div class="container px-5">
    <div class="row mb-5">
      <div class="col-11 p-2">
        <input
          type="text"
          class="form-control"
          id="dni"
          name="dni"
          [formControl]="dni"
          placeholder="12345678A"
        />
        <div
          *ngIf="dni.invalid && (dni.dirty || dni.touched)"
          style="position: absolute"
        >
          <div *ngIf="dni.errors?.['pattern']" class="text-danger">
            El DNI introducido no es válido.
          </div>
        </div>
      </div>
      <div class="col-1 p-2">
        <button
          type="submit"
          class="btn btn-primary w-100"
          (click)="consultarCitas()"
          [disabled]="!dni.valid || !dni.value"
        >
          Buscar
        </button>
      </div>
    </div>
    <div *ngFor="let cita of citas" class="row mb-2 mx-2">
      <app-tarjeta-cita [cita]="cita" />
    </div>
    <div *ngIf="sinCitas" class="row mb-2 mx-2">
      <div class="alert alert-info" role="alert">
        No tienes citas agendadas.
      </div>
    </div>
  </div>
</div>
