<div class="col">
  <div class="card shadow-sm">
    <img
      [src]="imagen"
      alt="Imagen de la tienda"
      class="object-fit-cover"
      width="100%"
      height="225"
    />
    <div class="card-body">
      <p class="card-text">{{ titulo }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a [routerLink]="[ruta, id]" class="btn btn-sm btn-outline-secondary">
            Saber más
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
