<div class="d-flex flex-column h-100">
  <div class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Servicios</h1>
        <p class="lead text-body-secondary">
          En nuestros centros podrás encontrar todo lo que necesitas para el
          cuidado personal: corte de pelo, peinado, tratamiento, afeitado,
          matizado, etc.
        </p>
      </div>
    </div>
  </div>
  <div class="album py-5 bg-body-tertiary flex-grow-1">
    <div class="container g-3">
      <div class="row">
        <app-tarjeta-servicio
          *ngFor="let servicio of servicios"
          [servicio]="servicio"
          class="col"
        />
      </div>
      <div class="row">
        <div class="col text-center">
          <button class="btn btn-primary" [routerLink]="['/reservar-cita']">
            Reserva ahora
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
